@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

html {
    background-color: var(--bgcolor);
    --bgcolor: #333e46;
    --color: #4ecca3;
    --btn: #4ecca3;
    --footercolor: #fff;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #02080f;
    font-size: 5rem;
    color: var(--color);
}

p {
    font-size: 2rem;
    color: var(--color);
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 2%;
    color: var(--footercolor);
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 75px;
    height: 40px;
    background: var(--btn);
}

label:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #fff;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
}

.text {
    text-align: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 10px;
    font-weight: 900;
}

input:checked+label {
    background: rgb(63, 62, 62);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

html[data-theme="lighttheme"] {
    background: var(--bgcolor);
    --color: #198561;
    --bgcolor: #fff;
    --footercolor: #333;
    --btn: rgb(63, 62, 62);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: ease-in-out 0.5s !important;
    transition-delay: 0 !important;
    -webkit-transition: ease-in-out 0.5s !important;
    -moz-transition: ease-in-out 0.5s !important;
    -ms-transition: ease-in-out 0.5s !important;
    -o-transition: ease-in-out 0.5s !important;
}